{% extends "base.html" %}

{% block content %}

<h2>My Bookings</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Bus</th>
            <th>Seat</th>
            <th>Status</th>
            <th>Action</th>

        </tr>

    </thead>

    <tbody>

    {% for booking in bookings %}

        <tr>

            <td>{{ booking.bus.bus_name }}</td>

            <td>{{ booking.seat_number }}</td>

            <td>

                {% if booking.status == "Booked" %}

                    <span class="badge bg-success">
                        Booked
                    </span>

                {% else %}

                    <span class="badge bg-danger">
                        Cancelled
                    </span>

                {% endif %}

            </td>

            <td>

                {% if booking.status == "Booked" %}

                <a href="/cancel-booking/{{ booking.id }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Cancel this booking?')">

                    Cancel

                </a>

                {% else %}

                    --

                {% endif %}

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}